body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navigation-section {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  background-color: rgb(255 152 0);
}

.navigation-icon {
  display: block;
  width: 35px;
  height: 35px;
  margin: 0 auto;
  fill: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

.character-holder {
  position: absolute;
  top: 0;
  right: 60%;
  border: 1px solid #ccc;
  width: 350px;
  height: 200px;
  display: flex;
  flex-wrap: nowrap;
  border-radius: 2px;
}

.character-holder-image img{
  flex-basis: 40%;
}